In [62]:
import pandas as pd

In [63]:
df = pd.read_csv('iot_raw_data.csv')

In [64]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'], format='%m/%d/%y %H:%M')
df['DateTime'] = pd.to_datetime(df['DateTime'], format='%m/%d/%y %H:%M')

In [65]:
print(df.shape)
df.head()

(774, 9)

,Timestamp,AirCode,AirplaneModel,Passengers,FromAirport,ToAirport,DateTime,ItemType,Amount
0,2024-11-01 09:57:00,UO901,Airbus A320,180,HKG,TYO,2024-11-01 08:00:00,Cups,32.13
1,2024-11-01 08:04:00,UO901,Airbus A320,180,HKG,TYO,2024-11-01 08:00:00,Cups,10.39
2,2024-11-01 08:05:00,UO901,Airbus A320,180,HKG,TYO,2024-11-01 08:00:00,Cups,31.82
3,2024-11-01 09:01:00,UO901,Airbus A320,180,HKG,TYO,2024-11-01 08:00:00,Cups,28.43
4,2024-11-01 09:45:00,UO901,Airbus A320,180,HKG,TYO,2024-11-01 08:00:00,Cups,33.86

In [66]:
result = df.pivot_table(index=['DateTime', 'AirCode', 'AirplaneModel', 'Passengers', 'FromAirport', 'ToAirport'], 
                        columns='ItemType', 
                        values='Amount', 
                        aggfunc='sum', 
                        fill_value=0).reset_index()

In [67]:
df['AirCode'] = df['AirCode'].astype('category')
df['AirplaneModel'] = df['AirplaneModel'].astype('category')
df['FromAirport'] = df['FromAirport'].astype('category')
df['ToAirport'] = df['ToAirport'].astype('category')
df['ItemType'] = df['ItemType'].astype('category')

df['Passengers'] = pd.to_numeric(df['Passengers'], errors='coerce')
df['Amount'] = pd.to_numeric(df['Amount'], errors='coerce')

In [68]:
print(result.shape)
result.head(20)

(15, 13)

ItemType,DateTime,AirCode,AirplaneModel,Passengers,FromAirport,ToAirport,Aluminum Cans,Cups,Cutleries,Food Waste (kg),Liquid (L),Non-recyclable Waste (kg),One-time Food Containers
0,2024-11-01 08:00:00,UO901,Airbus A320,180,HKG,TYO,80.00,299.99,150.00,45.00,34.99,60.00,149.98
1,2024-11-01 09:30:00,UO902,Airbus A320,159,TYO,TPE,90.00,360.02,179.99,52.00,40.00,70.00,180.00
2,2024-11-01 12:30:00,UO903,Airbus A320,180,TPE,HKG,190.00,700.00,350.00,119.99,90.00,149.99,350.00
3,2024-11-02 08:00:00,UO901,Airbus A320,138,DFW,DEN,100.00,400.01,200.01,60.00,49.99,80.00,150.00
4,2024-11-02 09:30:00,UO902,Airbus A320,180,DXB,LHR,250.00,1000.01,499.99,200.01,150.00,219.98,80.00
5,2024-11-02 12:30:00,UO903,Airbus A320,154,CDG,JFK,110.00,440.00,219.99,70.00,55.01,89.99,120.00
6,2024-11-03 08:00:00,UO901,Airbus A320,128,FRA,HND,51.00,600.00,300.01,90.00,75.01,70.00,100.00
7,2024-11-03 09:30:00,UO902,Airbus A320,153,DXB,SYD,41.01,800.01,400.01,150.02,110.00,80.02,90.01
8,2024-11-03 12:30:00,UO903,Airbus A320,122,JFK,LHR,31.02,560.00,280.00,85.00,69.99,60.00,70.01
9,2024-11-04 08:00:00,UO903,Airbus A320,164,HKG,TYO,60.99,560.00,200.01,65.00,84.00,50.00,89.00
10,2024-11-04 09:30:00,UO903,Airbus A320,153,TYO,TPE,61.00,559.99,260.00,98.01,58.01,80.01,73.99
11,2024-11-04 12:30:00,UO903,Airbus A320,121,TPE,HKG,40.99,560.01,209.99,105.00,57.00,59.99,56.00
12,2024-11-05 08:00:00,UO903,Airbus A320,146,HKG,TYO,31.00,560.00,150.01,120.00,38.00,60.01,51.00
13,2024-11-05 09:30:00,UO903,Airbus A320,157,TYO,TPE,21.02,560.00,299.99,130.00,68.01,59.99,40.99
14,2024-11-05 12:30:00,UO903,Airbus A320,172,TPE,HKG,21.00,559.99,270.00,155.00,34.99,40.00,31.00

In [69]:
result.to_json('iot_aggregated.json', orient='records', lines=False)